.buttonX{
    border-color: #adb1b8;
    border-width: 0.5px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 2vw;
    height: auto;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    transition: 0.4s;
    padding: 0.5vw
    
  }
  
  .buttonX:hover {
    border-color: #fff;
    background-color: var(--color-red);
    color: #fff;
    
  }

  @media (min-width: 768px) {
    .buttonX{
      font-size: 1.3vw;
      padding: 0.3vw;
      height: 2vw;
      margin-top: 1vw;
    }
  }