/* $white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$green: #86c023;
$blue: #017ac7; */

.pagination {
    text-align: center;
    margin: 1vw 8vw;
	display: inline-block;
	height: auto;
	background-color: transparent;

}

.pageNumb {
	display: block;
	padding: 1.5vw;
	float: left;
	transition: 200ms;
	color: #595959;
	font-size: 1.4vw;
    font-family: Arial,sans-serif;
	letter-spacing: 0.1em;
	line-height: auto;
    margin:0.5vw;
    border-radius: 0.3em;

}

.pageNumb:hover
{
		background-color: var(--color-lightblue);
		color:  #fff;
}

.actualPage{
    display: block;
	padding: 1.5vw;
	float: left;
	transition: 200ms;
	color: #595959;
	font-size: 1.4vw;
    font-family: Arial,sans-serif;
	letter-spacing: 0.1em;
	line-height: auto;
    margin:0.5vw;
    border-radius: 0.3em;
    background-color: var(--color-blue-button);
	color:  #fff;
}

@media (min-width: 768px) {
    .pageNumb{
    	padding: 0.6vw 0.8vw;
		margin:0.2vw 0.3vw;
    }
    .actualPage{
		padding: 0.6vw 0.8vw;
		margin:0.2vw;
    }
  }
